<div class="form-container">
    <h2>Create New Dictionary</h2>
    <form [formGroup]="dictionaryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dictionaryName">Dictionary Name</label>
        <input type="text" id="dictionaryName" formControlName="dictionaryName" required>
      </div>
      <div class="form-group">
        <label for="language">Language</label>
        <select id="language" formControlName="language" required>
          <option value="">Select Language</option>
          <option *ngFor="let language of languageList" [value]="language.name">{{ language.name }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="dictionaryForm.invalid">Create Dictionary</button>
    </form>
  </div>
  
