
<div class="background-container">
  <div class="dictionary-header">
    <h1>{{ currentUserDictionary?.dictionaryName }}</h1>
  </div>

  <div class="dictionary-content">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Entries</th>
            <th>Definitions</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let entry of currentUserEntries | sortEntries">
            <tr>
              <td>{{ entry.userEntry }}</td>
              <td>{{ entry.translation }}</td>
              <td>
                <button (click)="removeEntry(entry.entryId)">Delete</button>
              </td> 
              <td>
                <button (click)="routeToEditEntry(entry.entryId)">Edit</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="center2">
      <form [formGroup]="translateForm" (ngSubmit)="onSubmit()" class="translate-form">
        <input type="text" formControlName="textToTranslate" id="textToTranslate" placeholder="Enter text to translate">

        <div *ngIf="translatedText">
          Translation: {{ translatedText }}
        </div>

        <button type="submit" [disabled]="translateForm.invalid">Translate</button>
      </form>
    </div>
    <div class="center">
      <div class="entry-form">
          <form [formGroup]="entryForm" (ngSubmit)="newEntry()">
              <button type="submit" [disabled]="entryForm.invalid">Add Entry </button>
              <div class="form-group">
                  <input type="text" id="userEntry" formControlName="userEntry" required placeholder="Add Entry">
              </div>
              <div class="form-group">
                  <input type="text" id="translation" formControlName="translation" required placeholder="Add Translation">
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
