html {
    background-color: rgb(140, 222, 239);
}
  
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  .background-container {
    background-image: url('images/AroundTheWorld.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }