  <div class="background-container">
    <div class="center">
      <div class="entry-form">
        <form [formGroup]="editForm" (ngSubmit)="entry && saveEntry(entry.entryId)">
          <button type="submit">Save</button>
          <div class="form-group">
            <input type="text" id="userEntry" formControlName="userEntry" required [placeholder]="entry?.userEntry">
          </div>
          <div class="form-group">
            <input type="text" id="translation" formControlName="translation" required [placeholder]="entry?.translation">
          </div>
        </form>
      </div>
    </div>
  
  </div>
    