
<div class="background-container">
  <div class="center">
    <div class="log-in">
      <p class="smalltalk">SmalltalK</p>
    </div>
  
    <div class="form-container">
      <form (ngSubmit)="loginUser(userName.value, email.value)" class="login-form">
        <div>
          <label class="login-label" for="userName">User Name:</label>
          <input type="text" id="userName" name="userName" required #userName>
        </div>
        <div>
          <label class="login-label" for="password">Password:</label>
          <input type="password" id="password" name="password" required #email>
        </div>
        <button type="submit" class="login-button">Login</button>
      </form>
    </div>
  </div>
  
</div>
  

